@font-face {
	font-family: 'myFont';
	src: url('./font.ttf');
	font-weight: 800;
	font-style: normal;
}

html, body {
	padding: 0;
	margin: 0;
}

.hello {
	color: red;
	font-family: 'myFont';
	background: url('./4.jpg');
}